/* Fonts */

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* Shared Styles */
main > section{
  margin-top: 100px;
}
.btn{
  color: white;
  background-color: rgba(224, 44, 109, 1);
   cursor: pointer;
}

.display-flex{
  display: flex;
}


/* Header styles */

.nav-bar{
  justify-content: space-between;
  align-items: center;
  margin: 80px 120px 50px 120px;

}
.brand{
  font-size: 24px;
  font-weight: 700;
}
.nav-links{
 gap: 34px;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  color: #3A3A3A;
  font-size: 16px;
  font-weight: 600;
}
/* Journey Section styles */
.journey-container{
  gap: 130px;
  justify-content: space-around;
  align-items: center;
}
.journey-content{
  width: 582px;
  height: 270px;

}
.journey-title{
  font-size: 52px;
  font-weight: 700;
}
.journey-description{
  font-size: 16;
  font-weight: 600;
}
.book-btn{
  border-radius: 41px;
  padding: 10px 24px;
  font-weight: 700;
  border: none;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
#arrow{
  font-size: 24x;
}

.header-img{
  position: relative;
}
.camera-bg{
position: absolute;
z-index: -1;
}
/* E-commerce section Styles */
.e-commerce-img-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 60px;
  width: 1110px;
  height: 110px;
  justify-content: center;
  align-items: center;
  padding: 35px 62px;
  margin: 0 auto;
}
/* Collection Section 
styles */


.collection-title{
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.collection-card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
  margin-left: 120px;
  margin-right: 120px;
  width: 1040px;
  justify-items: center;
  margin: 0 auto;
  
 
}
.card{
  width: 329px;
  padding: 17px 14px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: transform .3s linear;

}
.product-img{
  width: 100% ;
}
.primary-color{
  color: #3A3A3A;
}
.product-name{
  font-size: 28px;
  font-weight: 500;
  color: rgba(24, 25, 31, 1);
  margin-bottom: 0;
}
.product-price{
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.product-description{
  color: rgba(120, 120, 133, 1);
  font-size: 14px;
  margin-top: 0;
}
.card:hover{
  transform: scale(1.1);
}

.see-btn{
/* grid-column: 1/4; */
grid-column: 1/-1;
justify-self: end;
border: none;
color: rgba(224, 44, 109, 0.87);
background: none;
font-weight: 700;
display: inline-flex;
gap: 8px;
justify-content: center;
align-items: center;
margin-right: 20px;

}



/* Media Query */
.hide{
  display: none;
}
@media screen and (max-width: 576px) {
  main > section{
    margin-top: 50px;
  }
  .nav-bar{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .brand{
    font-size: 16px;
    margin-bottom: 0;
  }
  .nav-links{
    padding: 0;
    margin: 15px auto 0 auto;
    gap: 10px;
    justify-content: space-between;
    width: 90%;
  }
  .nav-link{
    font-size: 12px;
  }
  .journey-container{
    flex-direction: column-reverse;
    gap: 14px;
  }
  .header-img{
    width: 257px;
    height: 257px;
    margin-top: 50px;
  }
  .main-camera{
    width: 100%;
    height: 100%;
  }
  .camera-bg{
    width: 100%;
    height: 100%;
  }
  .journey-content{
    height: 222px;
    width: 400px;
    text-align: center;
  }
  .journey-title{
    font-size: 28px;
  }
  .journey-description{
    font-size: 14px;
    margin: 20px;
   
  }
  .e-commerce-img-container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 60px;
    gap: 0px;
    padding: 0;
  }
  .e-commerce-link{
    display: flex;
    width: calc(25% - 20px);
    justify-content: center;
    align-items: center;
  }
  .e-commerce-img{
    width: 30px;
    height: auto;
  }
  .collection-title{
    margin-bottom: 20px;
    font-size: 16px;

  }
  .collection-card-container{
    margin: 0 auto;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .see-btn{
    justify-self: start;
    margin-left: 20px;
  }


}